src/main/app/publisher.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata" xmlns:jbossts="http://www.mulesoft.org/schema/mule/jbossts" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:jms="http://www.mulesoft.org/schema/mule/jms" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/jms http://www.mulesoft.org/schema/mule/jms/current/mule-jms.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/jbossts http://www.mulesoft.org/schema/mule/jbossts/current/mule-jbossts.xsd">
    <jms:activemq-connector name="Active_MQ" brokerURL="${jms.broker.url}" validateConnections="true" doc:name="Active MQ"/>
    <http:listener-config name="HTTP_Listener_Configuration" host="${app.host}" port="${http.port}" basePath="${app.context.path}" doc:name="HTTP Listener Configuration"/>
    <jms:activemq-connector name="Active_MQ_SUBSCRIBER" brokerURL="${jms.broker.url}" validateConnections="true" clientId="${jms.client.id}" durable="true" doc:name="Active MQ"/>
    <flow name="publisherFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/" doc:name="HTTP"/>
        <byte-array-to-string-transformer doc:name="Transform incoming stream (Byte[] to String)s"/>
        <response>
            <set-payload value="&lt;message-published&gt;true&lt;/publish-response&gt;" doc:name="Set Payload to Response"/>
        </response>
        <jms:outbound-endpoint topic="${jms.topic}" connector-ref="Active_MQ" doc:name="JMS-ActiveMQ">
            <xa-transaction action="NONE"/>
        </jms:outbound-endpoint>
    </flow>
    <flow name="subscription-check-Flow">
        <jms:inbound-endpoint topic="${jms.topic}" connector-ref="Active_MQ_SUBSCRIBER" doc:name="JMS-SUBSCRIBER"/>
        <logger message="${jms.client.id}: #[System.getProperty('line.separator')] #[payload]" level="INFO" doc:name="Logger"/>
    </flow>
</mule>
